<h2 class="text-center">All the articles you can handle!</h2>
<% if(results.length <= 0){ %>
	<h3>Nothing in the database yet.</h3>
<% } else { %>
	<% results.forEach(function(item){ %>
		<h3>
			<a href="/articles/<%= item.id %>">
				<%= item.title %>
			</a>
		</h3>
	<% }); %>
<% } %>