<h2 class="text-center">New Author Sign Up</h2>
<form method="post" action="/authors">
	<div class="form-group">
		<label for="firstname">First Name:</label>
		<input type="text" name="firstname" placeholder="first name" class="form-control">
	</div>
	<div class="form-group">
		<label for="lastname">Last Name:</label>
		<input type="text" name="lastname" placeholder="last name" class="form-control">
	</div>
	<div class="form-group">
		<label for="bio">Bio:</label>
		<textarea name="bio" placeholder="tell us about yourself" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label for="dob">What's Your Birthday?</label>
		<input type="date" name="dob" class="form-control">
	</div>
</form>